html, body {
	margin: 5;
	padding: 5;
	height: 100%;
	width: 100%;
}

header {
	display: flex;
	gap: 1em;
	align-items: baseline;
	padding: 0.5em 1em;
}

header label {
	margin-left: auto;
}

#time-display {
	display: block;
}

#time-display em {
	color: #888;
	font-style: italic;
}

#map-container {
	position: relative;
	width: 100%;
	height: 100vh;
}

#map-container {
	margin-top: 0.5em;
}

#map {
	width: 100%;
	height: 100vh;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#overlay {
	position: absolute;
	top: 0;		/* 👈 added */
	left: 0;	/* 👈 added */
	z-index: 1;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

circle {
	pointer-events: auto;
}