html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: auto;
}

header {
	display: flex;
	gap: 1em;
	align-items: baseline;

	width: 80%;
	max-width: 1200px;
	margin: 0 auto;

	padding: 0.5em 0;
}

header label {
	margin-left: auto;
}

#time-display {
	display: block;
}

#time-display em {
	color: #888;
	font-style: italic;
}

#map-container {
	position: relative;
	flex: 1;
	min-height: 0;

	margin: 0.5em auto 0 auto; /* centers horizontally */
	width: 80%;                /* or whatever width you want */
	max-width: 1200px;         /* prevents over-expansion */
}

#map {
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#overlay {
	position: absolute;
	top: 0;		
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

circle,
.legend > div {
	--color-departures: steelblue;
	--color-arrivals: darkorange;
	--color: color-mix(
		in oklch,
		var(--color-departures) calc(100% * var(--departure-ratio)),
		var(--color-arrivals)
	);
}

circle {
	pointer-events: auto;
	fill: var(--color);
}

.legend {
	display: flex;
	gap: 1px;

	width: 80%;
	max-width: 1200px;
	margin: 1em auto;
}

.legend > div {
	flex: 1;
	background-color: var(--color);
	padding: 0.4em 1.2em;
	color: white;
	font-size: 0.85em;
	font-weight: 500;
	text-align: center;
}

.legend > div:first-child {
	text-align: left;
	border-radius: 4px 0 0 4px;
}

.legend > div:last-child {
	text-align: right;
	border-radius: 0 4px 4px 0;
}